.banner-contact {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.list {
  width: 100%;
  margin-right: 0;

  p {
    line-height: 1.3em;
  }
}

#parking {
  font-weight: bold;
}

.fa-circle {
  font-size: 9px;
  padding-right: 10px;
}
