---
title: Intervention - PYM TCCE
---
<div class="page-content">
  <div class="banner-place">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "intervenant.jpg" %>);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card card-intervenant">

            <h4 class="text-center">Intervention en structure de soin</h4> <br>
            <p class="main-text-inter">Dans l’objectif de promouvoir la T.C.C.E auprès de structure de soins, je propose
              des interventions sous forme d’atelier thérapeutique.
              Les ateliers sont orientés sur la psychoéducation des différents processus investies dans les troubles et
              pathologies psychiatriques, afin dans favoriser sa compréhension et son amélioration.
              Ils permettent également d’acquérir des outils de soins d’orientation T.C.C.E que les patients pourront
              appliquer dans leurs thérapies individuelles ou de groupes.
              Vous trouverez ci joint: la liste des différents ateliers thérapeutiques que je propose.</p>
            <hr>
            <br>
            <h4 class="text-center">Présentation des ateliers thérapeutiques </h4>
            <ul class="intervenant">
              <li>Gestion des émotions</li>
              <li>Estime de soi</li>
              <li>Affirmation de soi</li>
              <li>Psychoéducation de la dépression</li>
              <li>Prévention des rechutes dépressives</li>
              <li>Hygiène de vie</li>
              <li>Education thérapeutique sommeil</li>
              <li>Psychoéducation du trouble bipolaire</li>
              <li>Psychoéducation des troubles anxieux</li>
              <li>Psychoéducation des comorbidités fréquentes de la dépression</li>
              <li>Psychologie positive</li>
              <li>Sophrologie</li>
              <li>Techniques corporelles d'aménagement émotionnel</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
