---
title: Mentions Légales - PYM TCCE
---
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card card-legal text_center">
          <h1>Mentions Légales</h1>
          <hr>
          <h3>Editeur</h3>
          <p>Pierre-Yves Mori<br>
            +33 7 79 83 19 65 <br>
            mori.pierreyves@gmail.com<br>
            SIRET: 83533597700012
          </p>
          <h3>Responsable de publication </h3>
          <p>
            Pierre-Yves Mori <br>
            mori.pierreyves@gmail.com
          </p>
          <h3>Hébergeur</h3>
          <p>
            HEROKU (Salesforce)
            <br>
            The Landmark @ 1 Market St. <br>
            Suite 300, 94105 San Francisco <br>
            CA, U.S.A
            <br><br>
            url : www.heroku.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
