---
title: Soins - PYM TCCE
---
<div class="page-content">
  <div class="banner-place">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "mountain.jpg" %>);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card card-therapie text-justify">
            <h4 class="text_center">Présentation</h4>
            <br>
            <p>Je propose, dans le cadre de mon activité libérale, située dans le BAB (Bayonne - Anglet - Biarritz) une
              approche psychothérapeutique qui se base sur le référentiel des Thérapies Comportementale Cognitive et
              Émotionnelle. <br>
              Le but de cet accompagnement consiste à aider la personne à comprendre les dynamiques dysfonctionnelles
              qui ont causé et qui entretiennent son problème, et à mettre en place des stratégies concrètes de
              changement.
            </p>
            <hr>
            <br>
            <h4 class="text_center">Pratique actuelle</h4>
            <br>Dans le cadre de mon activité libérale, je suis membre et intervenant au Centre Aquitaine de
            psychothérapie des victimes (CAPSYVI Anglet et Mont-de-Marsan). <br>
            Je propose également des consultations au sein de notre structure à Anglet, pour lesquelles vous pouvez me
            solliciter, dans la rubrique contact, afin de prendre rendez-vous.
            L'accompagnement que je propose s'adresse à toutes personnes rencontrant des difficultés psychologiques.</p>
            <hr>
            <br>
            <h4 class="text_center">Prise en charges</h4>
            <br>
            <ul class="therapie">
              <li style="line-height: 1.4;">Troubles anxieux (phobies, état de stress post-traumatique, trouble panique,
                agoraphobie trouble obsessionnel compulsif, trouble anxieux social, trouble anxieux généralisé)</li>
              <li>Troubles de l’humeur</li>
              <li>Problèmes liés à l’estime de soi, la confiance en soi et à l’affirmation de soi</li>
              <li>Problèmes relationnels</li>
              <li>Burn-out et épuisement professionnel</li>
              <li>Trouble bipolaire</li>
              <li>Trouble du sommeil</li>
              <li>Trouble addictif</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
