<div class="container">
  <div class="row">
    <div id="sidebar" class="hidden-xs">
      <ul class="list-unstyled">
        <li>
          <%= link_to "Thérapie individuelle", '/therapie.html', class:"tab" %>
        </li>
        <li>
          <%= link_to "Intervention extérieure", '/intervenant.html', class:"tab" %>
        </li>
        <li>
          <%= link_to "La Thérapie comportementale cognitive et émotionnelle", '/tcce.html', class:"tab" %>
        </li>
      </ul>
    </div>
  </div>
</div>
