.card-contact {
  h4 {
  margin-top: -3.5px;
  }
}

.card-therapie {
  p {
    margin-bottom: 30px;
  }
}

.card-legal {
  margin-top:80px !important;
  h1 {
    font-size: 36px;
  }
  h3 {
    text-decoration: underline;
  }
}

.card {
  background: white;
  width: 80%;
  padding: 30px;
  margin: 50px 0 20px 204px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .card {
      margin-left: 0;
      width: 100%;
    }
}

@media (max-width: 767px) {
  .card {
    margin-left: 0;
    width: 100%;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .card {
      margin: 50px 0 20px 204px;
      width: 80%;
    }
}
