---
title: Contact - PYM TCCE
---
<div class="page-content">
  <div class="banner-place">
    <div class="banner-contact"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(/assets/images/mountain-contact.jpg);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card card-contact">
            <h4>Où me trouver :</h4>
            <br>
            <ul class="list">
              <li><strong>Psychothérapeute</strong> - CAPSYVI (centre Aquitain de psychothérapie des victimes) <br><br>
                <p> <u>Anglet</u>: 22 Route de Maignon <br>
                  64200 Anglet</p>
                <p> <u>Mont-de-Marsan</u>: 61 Avenue de Portal <br>
                  40280 Saint-Pierre-du-Mont</p>
              </li>
              <br>
              <li><strong>Psychothérapeute</strong> - Pôle de Thérapie Comportementale Cognitive et Emotionnel de la
                Côte Basque
                <br><br>
                <p><strong>22 Route de Maignon <br>
                    64200 Anglet</strong>
                  <br>
                  <div id="map" style="width: 100%;height: 300px;"></div>
                  <br>
                  <p id="parking">Parkings à proximité de la structure</p>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script defer src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_BROWSER_KEY']}&callback=initMap"%>></script>
