---
title: Pierre-Yves Mori - TCCE
---

<div class="page-content">
  <div class="banner-place">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "banner.jpg" %>);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card card-home text-justify">
            <h4 class="text-center">PRÉSENTATION</h4>
            <br>
            <p>Infirmier diplômé d’état de formation, j’ai débuté ma carrière professionnelle dans un centre de thérapie
              comportementales cognitives et émotionnelles.
              <br><br>
              Cette expérience professionnelle m’a permis d’acquérir, développer et consolider mes connaissances et
              aptitudes dans la prise en soins de patients en souffrance psychologique; au travers de l’application de
              la thérapie comportementale et cognitive sous forme de thérapie individuelle et d’animation d’atelier
              thérapeutique.
              <br><br>
              En parallèle, je me suis formé à la TCCE au travers de l’Enseignement de la Psychopathologie et de la
              Thérapie Comportementale Cognitive et Émotionnelle à l’Institut de Recherche Comportementale et
              Cognitive sur l’Anxiété
              et la Dépression (IRCCADE).
              <br><br>
              L’obtention du titre de Thérapeute en Thérapie Comportementale Cognitive et Émotionnelle me permet, à ce
              jour, de
              proposer un accompagnement individuel, sous forme de consultation, pour les patients en souffrance
              psychologique.
              <br><br>
              Dans le but de promouvoir la TCCE, je propose également des interventions sous forme d’ateliers
              thérapeutiques pour des structures de soins psychiatriques, dans un rôle d’intervenant extérieur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
