---
title: Profil - PYM TCCE
---
<div class="page-content">
  <div class="banner-place">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/assets/images/banner-formation.jpg);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card card-profile">
            <h2 class="text-center">Formation</h2>
            <hr>
            <br>
            <h4 class="text-center profil"><strong>Thérapie comportementale cognitive et émotionnelle </strong></h4>
            <h5><strong>EPTHECC / IRCCADE 2016-2018</strong></h5>
            <p style="margin-bottom:30px;">Enseignement de la Psychopathologie et des Thérapies Comportementale
              Cognitive et Émotionnelle au sein de l'Institut de Recherche Comportementale et Cognitive sur l’Anxiété
              et la Dépression</p>
            <h4 class="text-center profil"><strong>Formations complémentaires</strong></h4>
            <ul style="margin-bottom:30px;">
              <li>ESPT: informations cliniques et pratiques</li>
              <li>Le traumatisme psychique</li>
              <li>Trouble du sommeil</li>
              <li>Le burn-out ou état d’épuisement professionnel</li>
              <li>Affirmation de soi</li>
              <li>Trouble bipolaire</li>
              <li>Sensibilisation à la sophrologie</li>
              <li>Psychologie positive</li>
            </ul>
            <hr>
            <br>
            <h4 class="text-center profil">INFIRMIER DIPLÔMÉ D’ÉTAT</h4>
            <h5><strong>IFSI CROIX ROUGE 2010-2014</strong></h5>
            <p>Institut de Formation en Soins Infirmiers de la Croix Rouge Française</p>
          </div>
        </div>
      </div>
    </div>
  </div>
