---
title: La TCCE - PYM TCCE
---
<div class="page-content">
  <div class="banner-place">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/assets/images/cogs.jpg);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card card-info">
            <h3 class="text-center">
              La thérapie comportementale cognitive et émotionnelle
            </h3>
            <br />
            <div class="main-text-tcc text-justify">
              <p>
                La thérapie comportementale cognitive et émotionnelle est une
                forme de psychothérapie qui met l'accent sur l'importance des
                pensées sous-jacentes pour déterminer comment nous nous sentons et
                comment nous agissons. Considérée comme l'une des formes de
                psychothérapie les plus efficaces, la thérapie
                cognitivo-comportementale est devenue l'objet de centaines
                d'études de recherche. <br /><br />
                Les thérapeutes en TCCE travaillent avec les patients pour les
                aider à découvrir, à approfondir et modifier leurs propres schémas
                de pensée et leurs réactions : ce sont elles qui déterminent nos
                perceptions et nos comportements. L'utilisation de la thérapie
                cognitive et comportementale offre aux patients une perspective
                précieuse, qui contribue à améliorer leur qualité de vie et à
                mieux gérer leur stress, notamment dans des situations difficiles
                où il faut résoudre des problèmes. <br />
                <br />
                L’un des principes fondamentaux est que les situations externes,
                les interactions avec d'autres personnes et les événements
                négatifs ne sont pas responsables de nos mauvaises humeurs et de
                notre problème dans la plupart des cas. <br />
                <br />
                En fait, la T.C.C.E considère que ce sont nos propres réactions
                aux événements, nos "interprétations" des événements qui sont sous
                notre contrôle – et qui finissent par affecter notre qualité de
                vie. <br /><br />
                C'est une excellente nouvelle, car cela signifie que nous avons le
                pouvoir de changer! <br /><br />
                Grâce à la thérapie cognitive comportementale, nous pouvons
                apprendre à changer la façon dont nous pensons, ce qui modifie
                notre façon de ressentir, et modifie à son tour la façon dont nous
                envisageons et traitons les situations difficiles lorsqu'elles
                surviennent. <br />
                <br />
                Nous pouvons améliorer les pensées perturbatrices qui nous rendent
                anxieux, isolés, déprimés, générant de la souffrance. <br />
                <br />
                Lorsque nous pouvons examiner avec précision et calme les
                situations sans distorsion de la réalité, de jugements ou de
                craintes supplémentaires, nous sommes davantage en mesure de
                savoir comment réagir de manière appropriée afin de nous sentir
                plus heureux à plus long terme.
              </p>
              <br />
            </div>
            <hr />
            <br />
            <h4 class="text-center" style="margin-bottom:30px;">Indications</h4>
            <p>
              Une méta-analyse de 2012 publiée dans <%= link_to "Journal of
            Cognitive Therapy and Research",
            "https://link.springer.com/article/10.1007/s10608-012-9476-1",
            target: '_blank', class: "link-study" %> a identifié 269 études qui
              ont soutenu l'utilisation de la TCCE, grâce à leur efficacité, pour
              les problèmes suivants :
            </p>
            <ul class="tcc">
              <li>Troubles de la toxicomanie</li>
              <li>Dépression et dysthymie</li>
              <li>Dépression maniaque / trouble bipolaire</li>
              <li>
                Troubles anxieux (état de stress post-traumatique, trouble
                panique, agoraphobie, trouble obsessionnel compusilf, trouble
                anxieux social, trouble anxieux généralisé)
              </li>
              <li>Troubles somatoformes</li>
              <li>Troubles de l'alimentation</li>
              <li>Troubles du sommeil, y compris l'insomnie</li>
              <li>Troubles de la personnalité</li>
              <li>Colère</li>
              <li>Comportements criminels</li>
              <li>
                Stress général et détresse en raison de conditions médicales
                générales
              </li>
              <li>Syndrome de fatigue chronique</li>
              <li>Douleurs musculaires et tension</li>
              <li>Complications de grossesse et troubles hormonaux féminins</li>
              <li>La schizophrénie et d'autres troubles psychotiques</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
